@import url('http://fonts.cdnfonts.com/css/salter');

@import url('http://fonts.cdnfonts.com/css/promova');

@import url('http://fonts.cdnfonts.com/css/khand');

body 
{
    margin: 0;
    padding: 0;
    /* background-color: ; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
}

.barra_nav 
{
    background-color: gray;
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    display: fixed;
   

}

.sub_nav 
{

    height: 11vh;
    width: 80vw;
    margin-top: 15px;
    
}

.sub_nav ul
{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    /* margin-right: 90px; */
    align-self: center;
    justify-self: flex-end; 
    
}

.sub_nav ul li 
{
    list-style: none;
    margin-right: 50px;
    font-family: 'PROMOVA', sans-serif;
    font-size: 22px;
    color: white;
    cursor: pointer;
    text-shadow: 0.1em 0.1em 0.2em black;
}



a
{
    text-decoration: none;
    color: white;
}

.sub_nav ul li:hover
{
    font-size: 30px;
    transition: 0.5s;
    margin-bottom: 10px;
}

.anima_icon {
    width: 120px;
    height: 55px;
    margin-top: 10px;
    margin-right: 60px;
    margin-left: 40px;
}

.div_cinza
{
    /* border: 1px solid black; */
    /* margin-left: 30px; */
    width: 180px;
    height: 86px;
    background-color: rgb(184, 184, 184);
    /* margin-bottom: 20px; */
}
