@import url('http://fonts.cdnfonts.com/css/salter');

@import url('http://fonts.cdnfonts.com/css/promova');

@import url('http://fonts.cdnfonts.com/css/khand');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body 
{
    margin: 0;
    padding: 0;
    /* background-color: ; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    
}



.barra_nav 
{
    background-color: none;
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    
   
}

.sub_nav 
{

    height: 11vh;
    width: 80vw;
    margin-top: 15px;
    
}

.sub_nav ul
{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    /* margin-right: 90px; */
    align-self: center;
    justify-self: flex-end; 
    
}

.sub_nav ul li 
{
    list-style: none;
    margin-right: 50px;
    font-family: 'PROMOVA', sans-serif;
    font-size: 22px;
    color: white;
    cursor: pointer;
    text-shadow: 0.1em 0.1em 0.2em black;
}



a
{
    text-decoration: none;
    color: white;
}

.sub_nav ul li:hover
{
    font-size: 30px;
    transition: 0.5s;
    margin-bottom: 10px;
}

.anima_icon {
    width: 120px;
    height: 55px;
    margin-top: 10px;
    margin-right: 60px;
    margin-left: 40px;
}

.div_cinza
{
  
    width: 180px;
    height: 86px;
    background-color: none;
    
}

.container
{
    margin-top: 10px;
    width: 100%;
    height: 700px;
    background-image: url(../img/fundo_calc.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: -450px -300px;
}

.escurece
{
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.718);
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.fala
{
    font-size: 200px;
    font-family: 'salter';
}

.ico_barra
{
    width: 40px;
    height: 45px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.container2
{
    width: 80%;
    height: 700px;
    background-color: rgb(253, 31, 31);
    margin-top: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    

}

.conta
{
    width: 40%;
    height: 650px;
    background-color: rgb(192, 23, 23);
    margin-left: 40px;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.mostra
{
    width: 40%;
    height: 650px;
    background-color: rgb(204, 202, 202);
    margin-left: 90px; 
    border-radius: 30px;
    color: black;
    font-family: 'Quicksand';
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer
{
    height: 15vh;
    width: 100vw;
    background-color: black;
    margin-top: 80px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'khand';
}